<div class="slds-m-around_medium">
    <div class="slds-card">
        <div class="slds-p-around_medium">
            <fieldset class="slds-form-element slds-form-element_compound">
                <legend class="slds-form-element__legend slds-form-element__label">Send Contact to Sitecore</legend>
                <div class="slds-form-element__control">
                    <div class="slds-form__row">
                        <div class="slds-form__item" role="listitem">
                            <div class="slds-form-element slds-form-element_stacked slds-is-editing">
                                <label class="slds-form-element__label"
                                       for="plan-state-selector">State Name:</label>
                                <div class="slds-form-element__control">
                                    <input type="text" id="plan-state-selector" class="slds-input"
                                           placeholder="enter your state here">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-form__row">
                        <div class="slds-form__item" role="listitem">
                            <fieldset class="slds-form-element slds-is-editing slds-form-element_stacked">
                                <div class="slds-form-element__control">
                                    <div class="slds-checkbox">
                                        <input type="checkbox" name="default" id="user-exit-flag-selector"
                                               value="user-exit-flag-selector">
                                        <label class="slds-checkbox__label" for="user-exit-flag-selector">
                                            <span class="slds-checkbox_faux"></span>
                                            <span class="slds-form-element__label">
                                                User is exiting the journey
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="slds-form__item" role="listitem"></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
